#IO PORTs
NET "OUTPUT<15>" LOC = "M2" |IOSTANDARD = LVCMOS33; #PIO48
NET "OUTPUT<14>" LOC = "M1" |IOSTANDARD = LVCMOS33; #PIO47
NET "OUTPUT<13>" LOC = "L2" |IOSTANDARD = LVCMOS33; #PIO46
NET "OUTPUT<12>" LOC = "L1" |IOSTANDARD = LVCMOS33; #PIO45
NET "OUTPUT<11>" LOC = "K2" |IOSTANDARD = LVCMOS33; #PIO44
NET "OUTPUT<10>" LOC = "K1" |IOSTANDARD = LVCMOS33; #PIO43
NET "OUTPUT<9>" LOC = "J2" |IOSTANDARD = LVCMOS33; #PIO42
NET "OUTPUT<8>" LOC = "J1" |IOSTANDARD = LVCMOS33; #PIO41
NET "OUTPUT<7>" LOC = "G2" |IOSTANDARD = LVCMOS33; #PIO40
NET "OUTPUT<6>" LOC = "G1" |IOSTANDARD = LVCMOS33; #PIO39
NET "OUTPUT<5>" LOC = "H2" |IOSTANDARD = LVCMOS33; #PIO38
NET "OUTPUT<4>" LOC = "H1" |IOSTANDARD = LVCMOS33; #PIO37
NET "OUTPUT<3>" LOC = "F2" |IOSTANDARD = LVCMOS33; #PIO36
NET "OUTPUT<2>" LOC = "F1" |IOSTANDARD = LVCMOS33; #PIO35
NET "OUTPUT<1>" LOC = "E2" |IOSTANDARD = LVCMOS33; #PIO34
NET "OUTPUT<0>" LOC = "E1" |IOSTANDARD = LVCMOS33; #PIO33
NET "CSMUX<2>" LOC = "D2" |IOSTANDARD = LVCMOS33; #PIO32
NET "CSMUX<1>" LOC = "D1" |IOSTANDARD = LVCMOS33; #PIO31
NET "CS" LOC = "C1" |IOSTANDARD = LVCMOS33; #PIO30
NET "MISO" LOC = "B1" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO29
NET "BUS_CLK" LOC = "A2" | IOSTANDARD = LVCMOS33; #PIO28
NET "SYNC_CLK" LOC = "B3" |IOSTANDARD = LVCMOS33; #PIO27
NET "FAULT" LOC = "A3" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO26
NET "RESET" LOC = "C13" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO23
NET "SYNC_RESET" LOC = "D13" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO22
NET "MOSI" LOC = "D14" |IOSTANDARD = LVCMOS33; #PIO21
NET "SCK" LOC = "E13" |IOSTANDARD = LVCMOS33; #PIO20
NET "CSMUX<0>" LOC = "E14" |IOSTANDARD = LVCMOS33; #PIO19
NET "SPARE1" LOC = "G13" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO18
NET "SPARE2" LOC = "G14" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO17
NET "INPUT<15>" LOC = "F13" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO16
NET "INPUT<14>" LOC = "F14" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO15
NET "INPUT<13>" LOC = "H13" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO14
NET "INPUT<12>" LOC = "H14" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO13
NET "INPUT<11>" LOC = "J13" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO12
NET "INPUT<10>" LOC = "J14" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO11
NET "INPUT<9>" LOC = "K13" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO10
NET "INPUT<8>" LOC = "K14" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO9
NET "INPUT<7>" LOC = "L13" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO8
NET "INPUT<6>" LOC = "L14" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO7
NET "INPUT<5>" LOC = "N12" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO6
NET "INPUT<4>" LOC = "P12" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO5
NET "INPUT<3>" LOC = "P7" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO4
NET "INPUT<2>" LOC = "N6" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO3
NET "INPUT<1>" LOC = "N5" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO2
NET "INPUT<0>" LOC = "P5" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO1
#Created by Constraints Editor (xc6slx4-cpg196-2) - 2014/11/06
NET "clk_100mhz_s" TNM_NET = CLK;
TIMESPEC TS_CLK = PERIOD "CLK" 100 MHz HIGH 50%;
