#IO PORTs
NET "DAC_BIN" LOC = "M2" |IOSTANDARD = LVCMOS33; #PIO48
NET "DAC_SCLK" LOC = "M1" |IOSTANDARD = LVCMOS33; #PIO47
NET "DAC_SDO" LOC = "L2" |IOSTANDARD = LVCMOS33; #PIO46
NET "DAC_N_LDAC" LOC = "L1" |IOSTANDARD = LVCMOS33; #PIO45
NET "DAC_D1" LOC = "K2" |IOSTANDARD = LVCMOS33; #PIO44
NET "ADC_OS<0>" LOC = "K1" |IOSTANDARD = LVCMOS33; #PIO43
NET "ADC_OS<2>" LOC = "J2" |IOSTANDARD = LVCMOS33; #PIO42
NET "ADC_RANGE" LOC = "J1" |IOSTANDARD = LVCMOS33; #PIO41
NET "ADC_CONVST_B" LOC = "G2" |IOSTANDARD = LVCMOS33; #PIO40
NET "ADC_SCLK" LOC = "G1" |IOSTANDARD = LVCMOS33; #PIO39
NET "ADC_BUSY" LOC = "H2" |IOSTANDARD = LVCMOS33; #PIO38
NET "ADC_DOUT_A" LOC = "H1" |IOSTANDARD = LVCMOS33; #PIO37
NET "RESET" LOC = "F2" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO36
NET "SYNC_RESET" LOC = "F1" |IOSTANDARD = LVCMOS33; #PIO35
NET "BUS_CLK" LOC = "E2" |IOSTANDARD = LVCMOS33; #PIO34
NET "MISO" LOC = "E1" |IOSTANDARD = LVCMOS33; #PIO33
NET "CS" LOC = "D2" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO32
NET "CSMUX<0>" LOC = "D1" |IOSTANDARD = LVCMOS33; #PIO31
NET "SPARE10" LOC = "C1" |IOSTANDARD = LVCMOS33; #PIO30
NET "SPARE8" LOC = "B1" |IOSTANDARD = LVCMOS33; #PIO29
NET "SPARE9" LOC = "A2" | IOSTANDARD = LVCMOS33; #PIO28
NET "SPARE6" LOC = "B3" |IOSTANDARD = LVCMOS33; #PIO27
NET "SPARE7" LOC = "A3" |IOSTANDARD = LVCMOS33; #PIO26
NET "SPARE3" LOC = "C13" |IOSTANDARD = LVCMOS33; #PIO23
NET "SPARE2" LOC = "D13" |IOSTANDARD = LVCMOS33; #PIO22
NET "SPARE5" LOC = "D14" |IOSTANDARD = LVCMOS33; #PIO21
NET "SPARE4" LOC = "E13" |IOSTANDARD = LVCMOS33; #PIO20
NET "CSMUX<2>" LOC = "E14" |IOSTANDARD = LVCMOS33; #PIO19
NET "SPARE1" LOC = "G13" |IOSTANDARD = LVCMOS33; #PIO18
NET "CSMUX<1>" LOC = "G14" |IOSTANDARD = LVCMOS33; #PIO17
NET "SCK" LOC = "F13" |IOSTANDARD = LVCMOS33; #PIO16
NET "MOSI" LOC = "F14" |IOSTANDARD = LVCMOS33; #PIO15
NET "SYNC_CLK" LOC = "H13" |IOSTANDARD = LVCMOS33; #PIO14
NET "FAULT" LOC = "H14" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO13
NET "ADC_DOUT_B" LOC = "J13" |IOSTANDARD = LVCMOS33; #PIO12
NET "ADC_FRSTDATA" LOC = "J14" |IOSTANDARD = LVCMOS33; #PIO11
NET "ADC_N_CS" LOC = "K13" |IOSTANDARD = LVCMOS33; #PIO10
NET "ADC_RESET" LOC = "K14" |IOSTANDARD = LVCMOS33; #PIO9
NET "ADC_CONVST_A" LOC = "L13" |IOSTANDARD = LVCMOS33; #PIO8
NET "ADC_N_STBY" LOC = "L14" |IOSTANDARD = LVCMOS33; #PIO7
NET "ADC_OS<1>" LOC = "N12" |IOSTANDARD = LVCMOS33; #PIO6
NET "DAC_N_RSTIN" LOC = "P12" |IOSTANDARD = LVCMOS33; #PIO5
NET "DAC_D0" LOC = "P7" |IOSTANDARD = LVCMOS33; #PIO4
NET "DAC_N_CLR" LOC = "N6" |IOSTANDARD = LVCMOS33; #PIO3
NET "DAC_SDIN" LOC = "N5" |IOSTANDARD = LVCMOS33; #PIO2
NET "DAC_N_SYNC" LOC = "P5" |IOSTANDARD = LVCMOS33; #PIO1
#Created by Constraints Editor (xc6slx4-cpg196-2) - 2014/11/06
NET "clk_100mhz_s" TNM_NET = CLK;
TIMESPEC TS_CLK = PERIOD "CLK" 100 MHz HIGH 50%;
