#IO PORTs
NET "DDS_SCLK" LOC = "M2" |IOSTANDARD = LVCMOS33; #PIO48
NET "DDS_N_CS" LOC = "M1" |IOSTANDARD = LVCMOS33; #PIO47
NET "DDS_FSK_BPSK_HOLD" LOC = "L2" |IOSTANDARD = LVCMOS33; #PIO46
NET "DDS_OSK" LOC = "L1" |IOSTANDARD = LVCMOS33; #PIO45
NET "UART2_LDOEN" LOC = "K2" |IOSTANDARD = LVCMOS33; #PIO44
NET "UART2_MISO" LOC = "K1" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO43
NET "UART2_N_CS" LOC = "J2" |IOSTANDARD = LVCMOS33; #PIO42
NET "UART2_N_IRQ" LOC = "J1" |IOSTANDARD = LVCMOS33; #PIO41
NET "UART1_LDOEN" LOC = "G2" |IOSTANDARD = LVCMOS33; #PIO40
NET "UART1_SCK" LOC = "G1" |IOSTANDARD = LVCMOS33; #PIO39
NET "UART1_MOSI" LOC = "H2" |IOSTANDARD = LVCMOS33; #PIO38
NET "UART1_N_RST" LOC = "H1" |IOSTANDARD = LVCMOS33; #PIO37
NET "UART2_CLK" LOC = "F2" |IOSTANDARD = LVCMOS33; #PIO36
NET "UART1_CLK" LOC = "F1" |IOSTANDARD = LVCMOS33; #PIO35
NET "SPARE7" LOC = "E2" |IOSTANDARD = LVCMOS33; #PIO34
NET "SPARE5" LOC = "E1" |IOSTANDARD = LVCMOS33; #PIO33
NET "SPARE3" LOC = "D2" |IOSTANDARD = LVCMOS33; #PIO32
NET "SPARE1" LOC = "D1" |IOSTANDARD = LVCMOS33; #PIO31
NET "CSMUX<1>" LOC = "C1" |IOSTANDARD = LVCMOS33; #PIO30
NET "SCK" LOC = "B1" |IOSTANDARD = LVCMOS33; #PIO29
NET "MOSI" LOC = "A2" | IOSTANDARD = LVCMOS33; #PIO28
NET "SYNC_RESET" LOC = "B3" |IOSTANDARD = LVCMOS33; #PIO27
NET "RESET" LOC = "A3" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO26
NET "FAULT" LOC = "C13" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO23
NET "SYNC_CLK" LOC = "D13" |IOSTANDARD = LVCMOS33 ; #PIO22
NET "BUS_CLK" LOC = "D14" |IOSTANDARD = LVCMOS33; #PIO21
NET "MISO" LOC = "E13" |IOSTANDARD = LVCMOS33; #PIO20
NET "CS" LOC = "E14" |IOSTANDARD = LVCMOS33; #PIO19
NET "CSMUX<0>" LOC = "G13" |IOSTANDARD = LVCMOS33; #PIO18
NET "CSMUX<2>" LOC = "G14" |IOSTANDARD = LVCMOS33; #PIO17
NET "SPARE2" LOC = "F13" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO16
NET "SPARE4" LOC = "F14" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO15
NET "SPARE6" LOC = "H13" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO14
NET "SPARE8" LOC = "H14" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO13
NET "UART1_N_IRQ" LOC = "J13" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO12
NET "UART1_N_CS" LOC = "J14" |IOSTANDARD = LVCMOS33; #PIO11
NET "UART1_MISO" LOC = "K13" |IOSTANDARD = LVCMOS33 |PULLUP; #PIO10
NET "UART2_N_RST" LOC = "K14" |IOSTANDARD = LVCMOS33; #PIO9
NET "UART2_MOSI" LOC = "L13" |IOSTANDARD = LVCMOS33; #PIO8
NET "UART2_SCK" LOC = "L14" |IOSTANDARD = LVCMOS33; #PIO7
NET "DDS_IO_UD_CLK" LOC = "N12" |IOSTANDARD = LVCMOS33; #PIO6
NET "DDS_SDIO" LOC = "P12" |IOSTANDARD = LVCMOS33; #PIO5
NET "DDS_SDO" LOC = "P7" |IOSTANDARD = LVCMOS33; #PIO4
NET "DDS_IO_RESET" LOC = "N6" |IOSTANDARD = LVCMOS33; #PIO3
NET "DDS_MASTER_RESET" LOC = "N5" |IOSTANDARD = LVCMOS33; #PIO2
NET "DDS_FPGA_CLK" LOC = "P5" |IOSTANDARD = LVCMOS33; #PIO1
#Created by Constraints Editor (xc6slx4-cpg196-2) - 2014/11/06
NET "clk_100mhz_s" TNM_NET = CLK;
TIMESPEC TS_CLK = PERIOD "CLK" 100 MHz HIGH 50%;

PIN "CLK0/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
PIN "CLK1/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;