
# These ignore rules are for stuff produced by synthesis operations

# Directories
iseconfig
_ngo
planAhead*
xlnx_auto_0_xdb
_xmsgs
xst

# Files
*.gise
*.cfi
*.mcs
*.prm
*.xise
par_usage_statistics.html
*.bgn
*.bit
*_bitgen.xwbt
*.bld
*.cmd_log
*.drc
*_envsettings.html
*.lso
*_map.map
*_map.mrp
*_map.ncd
*_map.ngm
*_map.xrpt
*.ncd
*.ngc
*.ngd
*_ngdbuild.xrpt
*.ngr
*.pad
*_pad.csv
*_pad.txt
*.par
*_par.xrpt
*.xrpt
*.pcf
*.ptwx
*.stx
*_summary.html
*_summary.xml
*.syr
*.tdr
*.twr
*.twx
*.unroutes
*_usage.xml
*.xpi
*.xrpt
*webtalk*
