#IO PORTs

#NET "PIO48" LOC = "M2 | IOSTANDARD = LVCMOS33 | PULLUP; #PIO48
#NET "PIO47" LOC = "M1" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO47
#NET "PIO46" LOC = "L2" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO46
#NET "PIO45" LOC = "L1" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO45
#NET "PIO44" LOC = "K2" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO44
#NET "PIO43" LOC = "K1" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO43
#NET "PIO42" LOC = "J2" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO42
#NET "PIO41" LOC = "J1" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO41
#NET "PIO40" LOC = "G2" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO40
#NET "PIO39" LOC = "G1" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO39
#NET "PIO38" LOC = "H2" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO38
#NET "PIO37" LOC = "H1" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO37
#NET "PIO36" LOC = "F2" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO36
#NET "PIO35" LOC = "F1" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO35
#NET "PIO34" LOC = "E2 | IOSTANDARD = LVCMOS33 | PULLUP; #PIO34
#NET "PIO33" LOC = "E1" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO33
#NET "PIO32" LOC = "D2" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO32
#NET "PIO31" LOC = "D1" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO31
#NET "PIO30" LOC = "C1" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO30
#NET "PIO29" LOC = "B1" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO29
#NET "PIO28" LOC = "A2" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO28
#NET "PIO27" LOC = "B3" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO27
#NET "PIO26" LOC = "A3" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO26

#NET "PIO23" LOC = "C13" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO23
#NET "PIO22" LOC = "D13" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO22
#NET "PIO21" LOC = "D14" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO21
#NET "PIO20" LOC = "E13" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO20
#NET "PIO19" LOC = "E14" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO19
#NET "PIO18" LOC = "G13" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO18
#NET "PIO17" LOC = "G14" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO17
#NET "PIO16" LOC = "F13" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO16
#NET "PIO15" LOC = "F14" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO15
#NET "PIO14" LOC = "H13" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO14
#NET "PIO13" LOC = "H14" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO13
#NET "PIO12" LOC = "J13" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO12
#NET "PIO11" LOC = "J14" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO11
#NET "PIO10" LOC = "K13" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO10
#NET "PIO09" LOC = "K14" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO9
#NET "PIO08" LOC = "L13" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO8
#NET "PIO07" LOC = "L14" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO7
#NET "PIO06" LOC = "N12" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO6
#NET "PIO05" LOC = "P12" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO5
#NET "PIO04" LOC = "P7" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO4
#NET "PIO03" LOC = "N6" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO3
#NET "PIO02" LOC = "N5" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO2
#NET "PIO01" LOC = "P5" | IOSTANDARD = LVCMOS33 | PULLUP; #PIO1


